* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.mb-3 {
    position: relative;
    margin: auto;
    text-align: center;
}

.mb-3 input {
    position: relative;
    margin: auto;
    text-align: center;
}

.btn-primary {
    position: relative;
    margin: auto;
    text-align: center;
}

.form-control {
    position: relative;
    width: 50%;
}

.wave {
    position: relative;
    z-index: 3;
}

.wave2 {
    position: absolute;
    z-index: 3;
}

.wave3 {
    position: absolute;
    top: 82%;
}

.intro {
    position: relative;
    font-family: 'Inter', sans-serif;
    height: 100vh;
    width: 100%;
    left: 30%;
    z-index: 3;
}

.intro h2 {
    position: relative;
    left: 20%;
    cursor: pointer;
}

.chef {
    position: absolute;
    top: 40%;
    z-index: 3;
}

.image {
    max-width: 100%;
    height: auto;
}

.overlay {
    position: fixed;
    top: 100;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.overlay-image {
    max-width: 80%;
    max-height: 80%;
    border: 2px solid white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

@media (min-width: 500px) and (max-width: 868px) {
    .intro {
        position: relative;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 15%;
        height: 100vh;
        width: 50%;
        left: 40%;
        z-index: 1;
    }
    .intro h2 {
        left: 20%;
    }
    .chef img {
        position: absolute;
        top: 60%;
        width: 300px;
        z-index: 0;
    }
    .image {
        max-width: 100%;
        height: auto;
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
    }
    .overlay.active {
        opacity: 1;
        pointer-events: auto;
    }
    .overlay-image {
        max-width: 80%;
        max-height: 80%;
        border: 2px solid white;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }
}